
<form [formGroup]="profileForm" (ngSubmit)="onSubmit2()">
  <label for="name">Name: </label>
  <input id="name" type="text"   formControlName="firstName">
  
  <p>Value: {{ profileForm.value.firstName }}</p>
  
  <label for="name">Age: </label>
  <input id="name" type="text" formControlName="lastName">
  
  <p>Value: {{ profileForm.value.lastName }}</p>
  
  
  
  
  <div formGroupName="address">
    <h2>Address</h2>
  
    <label for="street">Street: </label>
    <input id="street" type="text" formControlName="street">
  
    <label for="city">City: </label>
    <input id="city" type="text" formControlName="city">
  
    <label for="state">State: </label>
    <input id="state" type="text" formControlName="state">
  
    <label for="zip">Zip Code: </label>
    <input id="zip" type="text" formControlName="zip">
  </div>
  
  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  
  
  </form>
  
  <pre>{{profileForm}}</pre>
  <p>With JSON pipe:</p>
  <pre>{{profileForm.value.firstName | json}}</pre>


<p>adduser works!</p>
{{ model | json }}
<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="model.name" name="name">
</div>

<div class="form-group">
  <label for="alterEgo">Alter Ego</label>
  <input type="text"  class="form-control" id="alterEgo"
         [(ngModel)]="model.alterEgo" name="alterEgo">
</div>

<div class="form-group">
  <label for="power">Hero Power</label>
  <select class="form-control"  id="power"
          required
          [(ngModel)]="model.power" name="power">
    <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
  </select>
</div>
<div [hidden]="!submitted">
  <form > Hero Form
    <div class="form-group">
      <label for="exampleFormControlInput1">HeroName </label>
      <input type="text" class="form-control" formControlName="name"  >
    </div>
  
    <div class="form-group">
      <label for="exampleFormControlInput1">HeroEgo </label>
      <input type="text" class="form-control" formControlName="name"  >
    </div>
  
    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control" id="power" required>
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
    </div>
    
      
      <button type="submit" class="btn btn-primary" >Submit</button>
  
  </form></div>
  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9">{{ model.power }}</div>
    </div>
    <br>
    <button type="button" class="btn btn-default" (click)="newhero();heroform.reset()">newhero</b
      <button type="button" class="btn btn-default" (click)="heroform.reset;">resethero</button>
      <button type="submit" class="btn btn-success" [disabled]="!heroform.reset.vaild">submit</button>

  </div>
  <div>
    <label for="name" >Name:</label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="Age" >Age:</label>
    <input id="Age" type="text" formControlName="Age">
  </div>
  <div>
    <label for="address" >address:</label>
    <input id="address" type="text" formControlName="address">
  </div>
  <div>
    <label for="username" >username:</label>
    <input id="username" type="text" formControlName="username">
  </div>
  <div>
    <label for="password" >password:</label>
    <input id="password" type="text" formControlName="password">
  </div>
<a [routerLink]="['']">go back</a>
